<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbb.mapper.Mx1Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.tbb.entity.Mx1">
		<id column="c__mx1Id" property="mx1Id" />
		<result column="createdOn" property="createdOn" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		c__mx1Id AS mx1Id, createdOn AS createdOn
    </sql>

	<delete id="deleteAll">
		delete from e__mx1
	</delete>
</mapper>
