<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>安全监管</title>
	<link href="/danger/css/mui.min.css" rel="stylesheet" type="text/css" />
	<link href="/danger/css/app.css" rel="stylesheet" type="text/css" />
	<link href="/danger/css/icons-extra.css" rel="stylesheet" type="text/css" />
	<link href="/danger/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="/danger/css/config.css" rel="stylesheet" type="text/css" />
</head>
<body data-curpagename="page2" >
<div id="page2_jPanel2" class="mui-content">
	<div id="page2_jPanel10" class=""></div>
	<div id="page2_jPanel1" class="" style="background-color: steelblue">
		<img  id="page2_jImages11"  src="/danger/images/29591231022834950.png" style="width:90%; height:80px;padding:10px"class="Timage Timageaoto"/>

	</div>
	<div id="page2_jPanel22" class="">
		<ul id="page2_jListTable3" class="mui-table-view mui-grid-view">	
			<li class="mui-table-view-cell mui-media mui-col-xs-3">
				<div id="page2_jPanel46" class="vjcenterpanel Panel_c">
					<a href="/admin/danger/add">	<img  id="page2_jImages13"  src="/danger/images/jnav03.jpg" class="Timage Timageaoto"/></a>
					<map name="page2_jImages13_map" id="page2_jImages13_map">
					</map>
				</div>
				<div id="page2_jLabel26" class="mui-media-body">隐患录入</div>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-3">
				<div id="page2_jPanel47" class="vjcenterpanel Panel_c">
					<a href="/admin/danger/deal"><img id="page2_jImages14" class="mui-media-object" src="/danger/images/jnav02.jpg" href="/admin/danger/addList"></a>
					<map name="page2_jImages14_map" id="page2_jImages14_map">
					</map>
				</div>
				<div id="page2_jLabel28" class="mui-media-body">隐患整改</div>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-3">
			
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-3">
			
			</li>
		</ul>
	</div>
	<div id="page2_jPanel50" class="">
		<div id="page2_jPanel43" class=" mui-pull-left">
		
		</div>
	</div>
</div>


</body>

<script type="text/javascript" src="/danger/js/jquery.min.js"></script>
<script type="text/javascript" src="/danger/js/mui.min.js"></script>
<script type="text/javascript" src="/danger/danger.js"></script>
<script type="text/javascript">
</script>
</html>
