#page2_jPanel1{
  background: #0080C0;
}

#page2_jIconfont1{
  font-size: 24px;
  color: #FFFFFF;
}

#page2_jPanel11{
  width: 3%;
  min-height: 40px;
}

#page2_jIconfont5{
  font-size: 24px;
  color: #FFFFFF;
}

#page2_jLabel1{
  font-size: 18px;
  color: #FFFFFF;
}

#page2_jPanel3{
  width: 100%;
  min-height: 10px;
}

#page2_jPanel7{
  width: 100%;
  min-height: 10px;
}

#page2_jPanel8{
  background: #FFFFFF;
  min-height: 66px;
}

#page2_jPanel9{
  width: 100%;
  min-height: 5px;
}

#page2_jPanel10{
  width: 90%;
}

